@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: #014E56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 73px 165px;
}

.nav {
    align-items: center;
    font-family: "Livvic", sans-serif;
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s all;
}

.nav button {
    padding: 9px 32px;
    background: none;
    border: 2px solid white;
    color: #fff;
    border-radius: 20px;
    transition: 0.3s all;
}


.nav button:hover{
    color: #000;
    background-color: #fff;
}
.nav li a:hover{
    text-decoration: none;
    color: #000;

}

.class {
    display: none;
}

section {
    padding: 120px 165px;
    background: #014E56;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

section h1 {
    font-size: 64px;
    font-weight: 700;
    font-family: "Livvic", sans-serif;
}

section p {
    width: 730px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Livvic", sans-serif;
}

main {
    background: #004047;
}

main h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 70px 260px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 148px;
}

.box {
    width: 350px;
    height: 274px;
    background: #012F34;
    text-align: center;
    color: #fff;
}

.box img {
    padding: 44px 110px;
}

.box h3 {
    font-size: 18px;
    font-weight: 700;
    color: #79C8C7;
    font-family: "Livvic", sans-serif;
}

.box p {
    padding-bottom: 20px;
    font-size: 15px;
    font-family: "Livvic", sans-serif;
}

.box .img {
    position: relative;
    bottom: 50px;
}

.tort {
    background: #012F34;
    text-align: center;
    color: #fff;
}

.tort h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Livvic", sans-serif;
    color: #fff;
}

.tort div {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 52px 165px;
    padding-bottom: 113px;
}

.besh {
    background: #F67E7E;
    display: flex;
    justify-content: space-between;
    padding: 76px 263px;
}

.besh h1 {
    color: #012F34;
    font-family: "Livvic", sans-serif;
}

.besh button {
    padding: 9px 32px;
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s all;    

}
.besh button:hover{
    background-color: #000;
    color: #fff;
}

footer {
    background: #002529;
    padding: 48px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div a {
    color: #fff;
}

@media screen and (max-width:768px) {
    header {
        background: #014E56;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 64px 39px;
    }

    section {
        padding: 112px 45px;
        background: #014E56;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }

    main h1 {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        padding: 100px 162px;
    }

    .container {
        display: flex;
        gap: 11 px;
        justify-content: center;
        padding-bottom: 48px;
        flex-wrap: wrap;
    }

    .tort h1 {
        padding-top: 221px;
        font-size: 32px;
        font-weight: 700;
        font-family: "Livvic", sans-serif;
        color: #fff;

    }

    .tort {
        background: #004047;
        text-align: center;
        color: #fff;
    }

    .tort div {
        width: 689px;
        display: flex;
        gap: 49px;
        justify-content: center;
        padding: 48px 40px;
        padding-bottom: 100px;
    }

    .besh {
        background: #F67E7E;
        display: flex;
        justify-content: space-between;
        padding: 80px 97px;
    }

    footer {
        background: #002529;
        padding: 30px 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width:375px) {
    .nav {
        display: none;
    }

    .class {
        display: block;
    }

    section {
        padding: 80px 24px;
        background: #014E56;
        text-align: center;
        color: #fff;
    }

    section h1 {
        font-size: 40px;
        font-weight: 700;
        font-family: "Livvic", sans-serif;
    }

    section p {
        width: 327px;
        font-size: 15px;
        font-weight: 600;
        font-family: "Livvic", sans-serif;
        text-align: center;
    }

    main h1 {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        padding: 88px 24px;
    }

    .container {
        display: flex;
        gap: 52px;
        justify-content: center;
        padding-bottom: 48px;
        flex-wrap: wrap;
    }
    .tort {
        width: 100%;
        background: #012F34;
        text-align: center;
        color: #fff;
    }
    .tort h1 {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        font-family: "Livvic", sans-serif;
        color: #fff;
    }
    .tort div {
        width: 162px;
        display: flex;
        gap: 80px;
        margin-left: 96px;
        flex-wrap: wrap;
        padding: 52px 106px;
        padding-bottom: 72px;
    }
    .besh {
        background: #F67E7E;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 83px 25px;
    }
    .besh h1 {
        color: #012F34;
        font-family: "Livvic", sans-serif;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 24px;
    }
    footer {
        background: #002529;
        padding: 66px 24px;
        justify-content: space-between;
    }
    
    
  
}